<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Database</h1>

		<body bgcolor="lightgrey">

			<form action="/add" autocomplete="on" method = "POST">

				<button type="submit"  style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Add Employee</button><br><br>
				
            </form>
			a
			
			
<a href="/about">About Us</a>
		</body>

	</font>
</center>
</html>
